/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Set background color for the body */
body {
    background-color: #01171b;
}

/* Style for SVG paths */
svg {
    width: 100%; /* Make the SVG element fill the entire width of its container */
    height: auto; /* Maintain the aspect ratio */
    transform-origin: center center; /* Set the transform origin to the center */
}

svg path {
    fill: #00394f;
    stroke: #eee;
    stroke-width: .25;
}

/* Hover effect for SVG paths */
svg path:hover {
    transition: 0.6s; /* Transition for smooth hover effect */
    cursor: pointer;
    fill: #00ff00; /* Updated color for hover state (replace with your desired color) */
    stroke: #ff0000; /* Updated stroke color for hover state (replace with your desired color) */
}

/* Nigeria element */
.nigeria {
    fill: green; /* Set the fill color to green */
    stroke: rgb(255, 255, 255); /* Set the stroke color to red, you can use any valid color value */
    animation: glow 2s infinite alternate; /* Add glow animation */
}

/* Glow animation keyframes */
@keyframes glow {
    from {
        filter: drop-shadow(0 0 5px rgb(70, 240, 8)); /* Initial glow effect */
    }
    to {
        filter: drop-shadow(0 0 20px rgba(81, 162, 81, 0)); /* Final glow effect */
    }
}

/* Your regular styles go here */

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    /* Styles for screens with a maximum width of 600px */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for screens with a width between 601px and 1024px */
}

@media screen and (min-width: 1025px) {
    /* Styles for screens with a minimum width of 1025px */
}

